<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <%-include("partials /head.html")%>
</head>

<body>
    <%-include("partials /body.html")%>
        <section class="section pb-6" id="demos">
            <div class="container pb-2">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card-catalogo" style="width: 20rem;">
                                <img src="imagenes/paraquat.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Paraquat</h5>
                                    <br>
                                    <p class="card-text">Herbicida para cultivo de Maíz</p>
                                    <p>$ 69.000</p>
                                    <a href="https://buy.stripe.com/test_dR67sR5FCalS1MY005"
                                        class="btn btn-success btn-block">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/campero.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Campero 304SL</h5>
                                    <br>
                                    <p class="card-text">Herbicida para cultivo de Arróz</p>
                                    <p>$ 34.500</p>
                                    <a href="https://buy.stripe.com/test_eVafZn2tqeC8fDO3ci"
                                        class="btn btn-success btn-block">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/goal.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Goal 2 EC</h5>
                                    <br>
                                    <p class="card-text">Herbicida para el cultivo de Café</p>
                                    <p>$ 118.340</p>
                                    <a href="https://buy.stripe.com/test_dR66oNfgc2TqbnyfZ5"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- la segunda fila -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card " style="width: 20rem;">
                                <img src="imagenes/rainboglif.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Rainboglif 480</h5>
                                    <br>
                                    <p class="card-text">Herbicida para el cultivo de Cacao</p>
                                    <p>$ 35.100</p>
                                    <a href="https://buy.stripe.com/test_fZefZnd84eC8aju008"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/destierro.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Destierro SL</h5>
                                    <br>
                                    <p class="card-text">Herbicida para el cultivo de Palma de Aceite</p>
                                    <p>$ 38.500</p>
                                    <a href="https://buy.stripe.com/test_bIY8wV3xubpW77i009"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/lorsban.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Lorsban</h5>
                                    <br>
                                    <p class="card-text">Insecticida para el cultivo de Maíz</p>
                                    <p>$ 46.000</p>
                                    <a href="https://buy.stripe.com/test_cN2aF34BygKgbny6oy"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- la tercera fila -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card " style="width: 20rem;">
                                <img src="imagenes/albatros1.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Albatross 200SC</h5>
                                    <br>
                                    <p class="card-text">Insecticida para el cultivo de Arróz</p>
                                    <p>$ 44.900</p>
                                    <a href="https://buy.stripe.com/test_7sIaF3aZWeC863edR1"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/malathion.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Malathion 57EC</h5>
                                    <br>
                                    <p class="card-text">Insecticida para el cultivo de Café</p>
                                    <p>$ 32.000</p>
                                    <a href="https://buy.stripe.com/test_8wMbJ76JG51yfDO14g"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/imidacloprid.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Imidacloprid 35% SC
                                    </h5>
                                    <br>
                                    <p class="card-text">Insecticida para el cultivo de Cacao</p>
                                    <p>$ 110.200</p>
                                    <a href="https://buy.stripe.com/test_aEU3cBd84bpW1MYcMZ"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- la cuarta fila -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card " style="width: 20rem;">
                                <img src="imagenes/kunfu.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Kunfu 100EC</h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Maíz</p>
                                    <p>$ 74.500</p>
                                    <a href=" https://buy.stripe.com/test_eVaaF3d84dy40IU9AO"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/amistar.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Amistar TOP SC
                                    </h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Maíz</p>
                                    <p>$ 42.000</p>
                                    <a href="https://buy.stripe.com/test_7sI00p9VS51ydvG7sH"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/belico.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Bélico 500SC
                                    </h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Arróz</p>
                                    <p>$ 32.400</p>
                                    <a href="https://buy.stripe.com/test_aEU6oNc402TqfDO14k"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- Quinta fila -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card " style="width: 20rem;">
                                <img src="imagenes/authority.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Authority 250 SC </h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Café</p>
                                    <p>$ 152.900</p>
                                    <a href="https://buy.stripe.com/test_dR67sRc400Li3V6bIZ "
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/azuco.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Azuco
                                    </h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Cacao</p>
                                    <p>$ 62.400</p>
                                    <a href="https://buy.stripe.com/test_9AQaF3d84bpW2R2bJ0"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/colision.JPG" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Colisión 250SC
                                    </h5>
                                    <br>
                                    <p class="card-text">Fungicida para el cultivo de Palma de Aceite</p>
                                    <p>$ 21.600</p>
                                    <a href="https://buy.stripe.com/test_bIYcNbgkg8dKcrCdR9"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- Sexta Fila -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card " style="width: 20rem;">
                                <img src="imagenes/urea.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Urea</h5>
                                    <br>
                                    <p class="card-text">Abono nitrogenado</p>
                                    <p>$ 143.200</p>
                                    <a href=" https://buy.stripe.com/test_9AQ8wV2tq65CezK00k"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/fosforita.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Fosforita Huila
                                    </h5>
                                    <br>
                                    <p class="card-text">Abono fosfatado</p>
                                    <p>$ 24.000</p>
                                    <a href="https://buy.stripe.com/test_aEUfZn0li9hOaju3cx"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/cloruro.jpg" class="card-img-top" alt="...">
                                <div class="card-body-catalogo">
                                    <h5 class="card-title">Cloruro de Potasio
                                    </h5>
                                    <br>
                                    <p class="card-text">Fertilizante simple k</p>
                                    <p>$ 164.900</p>
                                    <a href="https://buy.stripe.com/test_eVacNb8RO0Li2R24gC"
                                        class="btn btn-success btn-block ">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <% if(typeof alert !="undefined" ) { %>
            <script>
                swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton:<%= showConfirmButton %>,
                    footer: '<%= footer%>',
                    timer: '<%= timer%>'
            }).then(() => {
                        window.location = '<%= ruta%>'
                    });
            </script>
            <% } %>

</body>

</html>