<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%-include("partials/head.html")%>
</head>
<body>
    <%-include("partials/body.html")%>
    <section class="section pb-6" id="demos">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 20rem;">
                            <img src="imagenes/corn-g4de78159a_640.jpg" class="card-img-top" alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Maiz</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaMaiz" id="CantHetaMaiz" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block" value="calcular">
                                </form>
                                <a href="https://biz.payulatam.com/B0e875d7BE9832E"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
                                <a class="btn btn-success btn-block" href="https://buy.stripe.com/test_7sIcNb4Bycu0dvG5kl" >Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 20rem;">
                            <img src="imagenes/fresh-gb355737b9_640.jpg" class="card-img-top" alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Cafe</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaCafe" id="CantHetaCafe" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block" value="calcular">
                                </form>
                                <a href="https://biz.payulatam.com/B0e875dA494A0D3"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
                                <a class="btn btn-success btn-block" href="https://buy.stripe.com/test_fZecNb4By79GgHS5km" >Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 20rem;">
                            <img src="imagenes/martinique-g1de360b2a_640.jpg" class="card-img-top" alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Cacao</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaCacao" id="CantHetaCacao" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block " value="calcular">
                                </form>
                                <a href="https://biz.payulatam.com/B0e875dE7907590"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
                                <a class="btn btn-success btn-block " href="https://buy.stripe.com/test_eVa00p4By3XucrCaEH" >Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card " style="width: 20rem;">
                            <img src="imagenes/palm-g1c97677ae_640.jpg" class="card-img-top" alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Aceite de palma</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaPalma" id="CantHetaPalma" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block " value="calcular">
                                </form>
                                <a href="https://biz.payulatam.com/B0e875d62601637"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
                                <a class="btn btn-success btn-block " href="https://buy.stripe.com/test_bIYeVj8ROeC89fq004" >Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-4">
                        <div class="demo-box text-center">
                            <div class="card" style="width: 20rem;">
                                <img src="imagenes/harvesting-g3847d7547_640.jpg" class="product_image" alt="product_image">
                                    <div class="card-body">
                                        <h5 class="card-title">Arroz</h5>
                                        <p class="card-text">Some quick example text to build on the card title.</p>
                                        <form action="productos.html" method="POST">
                                            <input type="text" name="CantHetaArroz" id="CantHetaArroz" placeholder="ingrese la cantida de hetareas" required>
                                            <input type="submit" class="btn btn-success btn-block " value="calcular">
                                        </form>
                                        <a href="https://biz.payulatam.com/B0e875d30AB8986"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
                                        <a class="btn btn-success" href="https://buy.stripe.com/test_4gw5kJgkgeC8fDO5kk">Agregar al carro</a>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    
    

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <% if(typeof alert != "undefined") { %>
        <script>
            swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton:'<%= showConfirmButton %>',
                footer: '<%= footer%>',
                timer:'<%= timer%>'
            }).then(() =>{
                window.location='<%= ruta%>'
            });
        </script>
    <% } %>
    <%-include("partials/footer.html")%>
</body>
</html>