<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%-include("partials/head.html")%>
</head>
<body>
    <%-include("partials/body.html")%>
    <section class="section pb-6" id="demos">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 18rem;">
                            <img src="imagenes/corn-g4de78159a_640.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Maiz</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaMaiz" id="CantHetaMaiz" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block" value="calcular">
                                </form>
                                <a href="pagar.html" class="btn btn-success btn-block">Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 18rem;">
                            <img src="imagenes/fresh-gb355737b9_640.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cafe</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaCafe" id="CantHetaCafe" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block" value="calcular">
                                </form>
                                <form method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu">
                                    <input name="merchantId"    type="hidden"  value="508029"   >
                                    <input name="ApiKey"    type="hidden"  value="4Vj8eK4rloUd272L48hsrarnUA"   >
                                    <input name="accountId"     type="hidden"  value="512321" >
                                    <input name="description"   type="hidden"  value="Test PAYU"  >
                                    <input name="referenceCode" type="hidden"  value="arroz" >
                                    <input name="amount"        type="hidden"  value="1000000"   >
                                    <input name="tax"           type="hidden"  value=""  >
                                    <input name="taxReturnBase" type="hidden"  value="" >
                                    <input name="currency"      type="hidden"  value="COP" >
                                    <input name="signature"     type="hidden"  value="387d80579b869de032f73ea37693f85a">
                                    <input name="test"          type="hidden"  value="1" >
                                    <input name="buyerEmail"    type="hidden"  value="test@test.com" >
                                    <input name="responseUrl"    type="hidden"  value="http://www.test.com/response" >
                                    <input name="confirmationUrl"    type="hidden"  value="http://www.test.com/confirmation" >
                                    <input name="Submit"   class="btn btn-success btn-block"     type="submit"  value="Pagar" >
                                </form>
                                <a href="pagar.html" class="btn btn-success btn-block">Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 18rem;">
                            <img src="imagenes/martinique-g1de360b2a_640.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cacao</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaCacao" id="CantHetaCacao" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block " value="calcular">
                                </form>
                                <a href="pagar.html" class="btn btn-success btn-block ">Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card " style="width: 18rem;">
                            <img src="imagenes/palm-g1c97677ae_640.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Aceite de palma</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaPalma" id="CantHetaPalma" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block " value="calcular">
                                </form>
                                <i class="bi bi-cart">
                                    <a href="pagar.html" class="btn btn-success btn-block ">Agregar al carro</a>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <div class="card" style="width: 18rem;">
                            <img src="imagenes/harvesting-g3847d7547_640.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Arroz</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <form action="productos.html" method="POST">
                                    <input type="text" name="CantHetaArroz" id="CantHetaArroz" placeholder="ingrese la cantida de hetareas" required>
                                    <input type="submit" class="btn btn-success btn-block " value="calcular">
                                </form>
                                <a href="pagar.html" class="btn btn-success btn-block ">Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton:<%= showConfirmButton %>,
                footer: '<%= footer%>',
                timer:'<%= timer%>'
            }).then(() =>{
                window.location='<%= ruta%>'
            });
        </script>
    <% } %>

</body>
</html>